# Node
node_modules/
dist/
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma
Backend/src/generated/prisma/

# Python / ML
models/venv/
models/model/
*.pkl
__pycache__/
*.pyc